<div class="users">
  <el-breadcrumb separator-class="el-icon-arrow-right" class="users-bread">
    <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
    <el-breadcrumb-item :to="{ path: '/users'}">用户管理</el-breadcrumb-item>
    <el-breadcrumb-item>用户列表</el-breadcrumb-item>
  </el-breadcrumb>
  <el-row :gutter="20">
    <el-col :span='6'>
      <el-input placeholder="请输入搜索内容" v-model='searchText'>
        <el-button slot="append" icon="el-icon-search" @click='search'></el-button>
      </el-input>
    </el-col>
    <el-col :span='3'>
      <el-button type="success" plain>添加用户</el-button>
    </el-col>
  </el-row>

  <el-table :data="usersList" style="width: 100%">
    <el-table-column prop="username" label="姓名" width="180">
    </el-table-column>
    <el-table-column prop="email" label="邮箱" width="180">
    </el-table-column>
    <el-table-column prop="mobile" label="电话">
    </el-table-column>
    <el-table-column prop="name" label="用户状态">
      <template slot-scope="scope">
        <el-switch v-model='scope.row.mg_state'>
        </el-switch>
      </template>
    </el-table-column>
    <el-table-column prop="name" label="操作">
      <template slot-scope="scope">
        <el-button type="primary" size='mini' plain icon="el-icon-edit"></el-button>
        <el-button type="danger" size='mini' plain icon="el-icon-delete"></el-button>
        <el-button type="success" size='mini' plain icon="el-icon-check">分配角色</el-button>
      </template>
    </el-table-column>
  </el-table>
  <el-pagination background layout="prev, pager, next" :total="total" :page-size="pagesize" :current-page='pagenum'
    @current-change='changePage'>
  </el-pagination>
</div>
